body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    background-color: white;
    padding: 10px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: black;
    margin: 0;
    font-size: 24px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    color: white;
    background-color: green;
    border-radius: 5px;
}

.auth-container {
    display: flex;
    height: calc(100vh - 60px);
}

.left-content {
    flex: 1;
    background-color: white;
}

.left-content img {
    width: 750px;
    height: 550px;
    object-fit: cover;
    margin : 5px;
    border-radius: 2px;
}

.auth-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-form-container div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    height:400px;
}

.auth-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.auth-form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.auth-form-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form-container button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form-container button:hover {
    background-color: darkgreen;
}


.login-prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-prompt a {
    color: blue;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}

.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flash-messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.flash-messages .success {
    background-color: #4caf50;
}

.flash-messages .error {
    background-color: #f44336;
}
